<?xml version="1.0"?>
<launch>
        <include file="$(find xtark_driver)/launch/xtark_driver.launch"/>
	<include file="$(find xtark_driver)/launch/xtark_camera.launch" />
       	<node name="ORB_SLAM" pkg="ORB_SLAM" type="ORB_SLAM" args="Data/ORBvoc.txt Data/Settings.yaml" output="screen">
		<remap from="/camera/image_raw" to="/camera/image_raw"/>
	</node>
        
	
	

</launch>
