<?xml version="1.0"?>
<launch>
	<include file="$(find xtark_driver)/launch/xtark_driver.launch"/>
	<include file="$(find xtark_nav_depthcamera)/launch/Driver/xtark_depthcamera.launch"/>
	<node pkg="xtark_kcf_tracker" name="xtark_kcf_track" type="kcf_tracker" output="screen">
		<remap from="/camera/rgb/image_color" to="/camera/image_raw"/>
		<remap from="/tracker/cmd_vel" to="/cmd_vel"/>
	</node>
</launch>
